*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.header-area{
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0;
    align-content: space-between;
    justify-content: space-between;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    padding: 0 12px;
    color: #3b4144;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.header-icon i{
    padding: 0 10px;
    color: #3b4144;
}
.contant-sec{
    background-color: #f5df4e;
}
.contant{
    display: flex;
    padding: 80px 0;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}
.contant-left{
    align-content: center;
}
.contant h1{
    font-weight: 500;
    color: #292b2c;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 70px;
}
.contant span{
    font-weight: bold;
    color: #292b2c;
    font-size: 88px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.contant h5{
    color: #292b2c;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.header-button{
    display: flex;
}
.header-button a{
    background-color: #1c1f23;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    margin-right: 30px;
}
.header-button p{
    margin-top: 15px;
    text-decoration: underline;
    font-size: 18px;
}
.contant-img img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 15px solid #fff;
}
.about{
    padding: 80px 0;
}
.titel{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #212529;
}
.titel h5{
    background-color: #f5df4e;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    display: inline;
}
.titel h3{
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.about-part{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 60px;
}
.about-text{
    flex: 1;
}
.about-text h4{
    font-size: 36px;
    font-weight: 400;
    color: #292b2c;
    margin-bottom: 15px;
}
.about-text h4 span{
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: #f5df4e;
}
.about-text p{
    font-size: 22px;
    color: #292b2c;
    letter-spacing: 1px;
}
.about-year{
    align-self: center;
}
.about-h1{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f5df4e;
    justify-content: center;
    color: #292b2c;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 110px;
}
.about-h1 h1{
    font-size: 140px;
    margin-left: 10px;
}
.about-year h4{
    color: #292b2c;
    font-size: 36px;
}
.about-end{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    color: #35383a;
}
.about-name p{
    font-size: 16px;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-weight: 500;
    color: #727777;
}
.about-name h6{
    font-size: 18px;
    color: #292b2c;
}
.about-name a{
    font-size: 18px;
    color: #292b2c;
    font-weight: 700;
}
.service{
    padding: 80px 0;
}
.service-main{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    text-align: center;
}
.service-part{
    width: 32%;
}
.service-part i{
    margin-top: 50px;
    color: #f5df4e;
    font-size: 50px;
}
.service-part h4{
    font-size: 26px;
    padding: 10px 0;
    color: #292b2c;
}
.service-part p{
    color: #727777;
    font-size: 17px;
    line-height: 30px;
}
.resume{
    padding: 80px 0;
}
.resume-main{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.resume-mpart h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.resume-mpart{
    width: 50%;
}
.resume-part{
    border-left: 2px solid #f5df4e;
    padding-left: 15px;
    
}
.resume-part h5{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.resume-part h6{
    font-size: 14px;
    margin-bottom: 10px;
    color: #3b4144;
    font-weight: 500;
}
.resume-part p{
    margin-bottom: 10px;
    color: #44494b;
    border-bottom: 1px solid #cdd3d3;
    padding-bottom: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    width: 90%;
}
.skills h3{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: 30px;
}
.skills-main{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.skils-title{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-bottom: 15px;
}
.skills-p1{
    margin-right: 400px;
    color: #1c1f23;
}
.p-border{
    width: 100%;
    height: 8px;
    background-color: #e9ecef;
    border-radius: 10px;
    margin-bottom: 20px;
}
.p-bar{
    width: 65%;
    height: 8px;
    background-color: #f5df4e;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cv-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cv-p:hover{
    background-color: #000;
    color: #fff;
}
.cv-p{
    border: 2px solid #000;
    width: 10%;
    padding: 15px 50px;
    text-align: center;
    transition: all .4s ease-in-out;
    color: #f5df4e;
}
.portfolio{
    padding: 80px 0;
}
.portfolio-menu{
    display: flex;
    justify-content: center;
}
.portfolio-m ul li{
    display: inline-block;
    text-align: center;
}
.portfolio-m ul li a{
    text-decoration: none;
    padding: 0 15px;
    color: #6c7579;
    font-size: 16px;
    font-weight: 600;
}
.portfolio-m ul li a:hover{
    color: #000;
}
.portfolio-m .active{
    color: #000;
    text-decoration: underline;
    text-decoration-color: #f5df4e;
}
.portfolio-main{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 50px;
}
.portfolio-part{
    width: 30%;
    position: relative;
}
.position-bg{
    position: absolute;
    content: "";
    width: 100%;
    height: 348px;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.portfolio-part:hover .position-bg{
    opacity: .7;
}
.portfolio-part img{
    width: 100%;
}
.hire-sec{
    margin-top: 50px;
    position: relative;
    display: flex;
    background-image: url(img/intro-bg-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}
.hire-opacity{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: #000;
    opacity: .6;
}
.hire-title{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    text-align: center !important;
    width: 100%;
    height: 400px;
    color: #fff;
}
.hire-title h4{
    padding: 100px 0 50px 0;
    font-size: 36px;
}
.hire-title p{
    background-color: #f5df4e;
    padding: 15px 40px;
    display: inline;
    color: #000;
    text-transform: capitalize;
}
.faq-sec{
    padding: 80px 0;
}
.faq-sec .titel{
    align-content: flex-start;
}
.faq-main{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.client{
    background-color: #939597;
    padding: 100px 0;
}
.client .titel h3{
    color: #fff !important;
}
.client-part1{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 80px 300px 0px 300px;
    color: #fff;
    text-align: center;
}
.client-part1 p{
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 20px;
}
.client-part1 img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.client-part1 span{
    margin-top: 10px;
    color: #e9eaeb;
}
footer{
    background-color: #f5df4e;
    padding: 80px 0;
}
footer h2{
    font-size: 40px;
    padding-bottom: 50px;
}
.footer1 p{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    padding-bottom: 40px;
}
.footer1 h4{
    font-size: 22px;
}
.footer-sec{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.footer1{
    width: 50%;
}
.footer2{
    width: 45%;
}
.footer2 p{
    margin-bottom: 40px;
}
.footer2 input{
    border: none;
    background-color: #f5df4e;
    border-bottom: 1px solid #8d9399;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: none;
}
.footer2 textarea{
    border: none;
    background-color: #f5df4e;
    border-bottom: 1px solid #8d9399;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: none;
}
.footer2 button{
    color: #fff;
    padding: 20px 50px;
    background-color: #000;
    box-shadow: none;
    font-size: 18px;
}
.footer2 button i{
    margin-left: 10px;
}
.footer-icon i{
    color: #3b4144;
    margin-right: 15px;
    font-size: 18px;
}
.footer-last{
    background-color: #000;
    padding: 70px 0;
}
.footer-last p{
    color: rgb(252, 246, 246);
    font-size: 18px;
    letter-spacing: 1px;
}
.footer-part{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.footer-part a{
    color: #f5df4e;
}
.footer-part a:hover{
    text-decoration: none;
}